﻿@model SlideViewModel
@{
    ViewData["Title"] = Model.Header;
}

@*<partial name="_Nav" />*@
<div class="row slideshow-content">
    <div class="col-md-12">
        <h1 style="text-align: center">
            @Model.Header
        </h1>
    </div>
    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-8 col-md-offset-2">
        <p>
            @Html.Raw(Model.Content)
        </p>
    </div>
</div>

<partial name="_Navigation" />

